#dateTimeButton {
    color:blue;
    width: 10em;
}

h1 {
    font-size:30px;
    font-style:normal;
}

.header {
    padding: 10px 16px;
    background: rgb(110, 19, 42);
    color: #f1f1f1;
}
  
.content {
    padding: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}

.headerLink {
    padding-right: 5em;
    color: white;
}
.headerDiv {
    padding-bottom: 10px;
    display: inline-flex;
    align-content: flex-end;
}